
header {
  padding: 156px 0 100px;
  background-image: url(../22432.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

section {
  padding: 150px 0;
}

nav{
  background-color:#368780 ;
  
}
.expand{
  font-family: verdana;
  font-size: 50px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;

/* for centering the h1 with class of expand */
  margin: 0;
  position: absolute;
  left: 50%;
  transform:translate(-50%,-50%);
}

.expand span{
   display: inline-block;
   overflow: hidden;
   transition: all 0.3s ease-out;
   color: white;
}

.expand span:nth-child(even){
    color: #da4747;
    letter-spacing: -40px; 
}


.expand:hover span:nth-child(even){
  letter-spacing: 0;
}

.expand:hover span:nth-child(2){
  transition-delay: 0s;
}

.expand:hover span:nth-child(4){
  transition-delay: 0.5s;
}

.expand:hover span:nth-child(6){
  transition-delay: 1s;
}

.expand:hover span:nth-child(8){
  transition-delay: 1.5s;
}
.logo{
  font-family: verdana;
  font-size: 50px;
  cursor: pointer;
  white-space: nowrap;

/* for centering the h1 with class of expand */
  margin: 0;
  position: absolute;
  left: 15%;
  transform:translate(-50%,-50%);
}

.logo span{
   display: inline-block;
   overflow: hidden;
   transition: all 0.3s ease-out;
   color: white;
}

.logo span:nth-child(even){
    color: #da4747;
    letter-spacing: -40px; 
}


.logo:hover span:nth-child(even){
  letter-spacing: 0;
}

.logo:hover span:nth-child(2){
  transition-delay: 0s;
}

.logo:hover span:nth-child(4){
  transition-delay: 0.5s;
}

.logo:hover span:nth-child(6){
  transition-delay: 1s;
}

.logo:hover span:nth-child(8){
  transition-delay: 1.5s;
}
