body{
     background-color: #111;
}

.expand{
     font-family: verdana;
     font-size: 50px;
     cursor: pointer;
     white-space: nowrap;
  
/* for centering the h1 */
     margin: 0;
     position: absolute;
     top: 50%; left: 50%;
     transform:translate(-50%,-50%);
}

.expand span{
      display: inline-block;
      overflow: hidden;
      transition: all 0.3s ease-out;
      color: white;
}

.expand span:nth-child(even){
       color: #da4747;
       letter-spacing: -40px; 
}


.expand:hover span:nth-child(even){
     letter-spacing: 0;
}

.expand:hover span:nth-child(2){
     transition-delay: 0s;
}

.expand:hover span:nth-child(4){
     transition-delay: 0.5s;
}

.expand:hover span:nth-child(6){
     transition-delay: 1s;
}

.expand:hover span:nth-child(8){
     transition-delay: 1.5s;
}