*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background: orangered;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%);
    text-align: center;
left: 0;
right: 0;

}
.container h1{
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 40px;

}
.button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .button:hover {
    background: #2b353b;
    background-image: -webkit-linear-gradient(top, #2b353b, #3498db);
    background-image: -moz-linear-gradient(top, #2b353b, #3498db);
    background-image: -ms-linear-gradient(top, #2b353b, #3498db);
    background-image: -o-linear-gradient(top, #2b353b, #3498db);
    background-image: linear-gradient(to bottom, #2b353b, #3498db);
    text-decoration: none;
  }
.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content{
    height: 250px;
    width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    position: relative;

}
input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 2px solid gray;
    border-radius: 5px;
}
.close
{
    position: absolute;
    top: -15px;
    right: -15px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.6) ;
}