html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    }
    
    #coin-flip-cont {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    }
    
    #coin {
    position: relative;
    width: 200px;
    transform-style: preserve-3d;
    }
    
    #coin .front, #coin .back {
    position: absolute;
    width: 200px;
    height: 200px;
    }
    
    #coin .front {
    transform: translateZ(1px);
    border-radius: 50%;
    background:url(front.jpg);
    }
    
    #coin .back {
    transform: translateZ(-1px) rotateY(180deg);
    border-radius: 50%;
    background:url(back.jpg);
    }
    
    #coin.animation900 {
    -webkit-animation: rotate900 3s linear forwards; 
    animation: rotate900 3s linear forwards;
    }
    
    #coin.animation1080 {
    -webkit-animation: rotate1080 3s linear forwards; 
    animation: rotate1080 3s linear forwards;
    }
    
    #coin.animation1260 {
    -webkit-animation: rotate1260 3s linear forwards; 
    animation: rotate1260 3s linear forwards;
    }
    
    #coin.animation1440 {
    -webkit-animation: rotate1440 3s linear forwards; 
    animation: rotate1440 3s linear forwards;
    }
    
    #coin.animation1620 {
    -webkit-animation: rotate1620 3s linear forwards; 
    animation: rotate1620 3s linear forwards;
    }
    
    #coin.animation1800 {
    -webkit-animation: rotate1800 3s linear forwards; 
    animation: rotate1800 3s linear forwards;
    }
    
    #coin.animation1980 {
    -webkit-animation: rotate1980 3s linear forwards; 
    animation: rotate1980 3s linear forwards;
    }
    
    #coin.animation2160 {
    -webkit-animation: rotate2160 3s linear forwards; 
    animation: rotate2160 3s linear forwards;
    }
    
    @-webkit-keyframes rotate900 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
    }
    
    @keyframes rotate900 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
    }
    
    @-webkit-keyframes rotate1080 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
    }
    
    @keyframes rotate1080 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
    }
    
    @-webkit-keyframes rotate1260 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
    }
    
    @keyframes rotate1260 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
    }
    
    @-webkit-keyframes rotate1440 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
    }
    
    @keyframes rotate1440 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
    }
    
    @-webkit-keyframes rotate1620 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1620deg); -moz-transform: rotateY(1620deg); transform: rotateY(1620deg); }
    }
    
    @keyframes rotate1620 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1620deg); -moz-transform: rotateY(1620deg); transform: rotateY(1620deg); }
    }
    
    @-webkit-keyframes rotate1800 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
    }
    
    @keyframes rotate1800 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
    }
    
    @-webkit-keyframes rotate1980 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
    }
    
    @keyframes rotate1980 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
    }
    
    @-webkit-keyframes rotate2160 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(2160deg); -moz-transform: rotateY(2160deg); transform: rotateY(2160deg); }
    }
    
    @keyframes rotate2160 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(2160deg); -moz-transform: rotateY(2160deg); transform: rotateY(2160deg); }
    }
    
    .a{
        background: red;
        display: inline;
        position: absolute;
        left: 250px;
        top: 300px;
        

    }
    .b{
        background-color:white ;
        display: inline;
        position: absolute;
        right: 250px;
        top: 300px;
    }
    .flex_container{
        display: inline-flex;
        justify-content: center;
    }